EXPO_PUBLIC_API_BASE_URL=http://10.0.2.2:3000
AUDIUS_API_BEARER_TOKEN=n-uVmdQB_F_uhGzqaVaM6nkP7LJ4tmUFjIbdmZFzNTs=
OPENAI_API_KEY=ysk-proj-Q8sYK2HuIp9knhhqPRRyYEbVei6zK7tEIRB40yTU4BEKn7RsloTTUEn2eITdmVX1Jgkipk_MQkT3BlbkFJW9Q3LmUMM904aYtYObRQHP9p8q0g6ZkYdcdNNeDoVmQCWPKZdvAxh8vIZVgZRkBzId31mafgEA
OPENAI_TRANSLATION_MODEL=gpt-5
LRCLIB_API_BASE_URL=https://lrclib.net/api
LYRICS_USER_AGENT=ai-music-app/1.0.0
